
.drywall {
    width:100%;
    text-align: center;
}

.drywall img {
    margin: 10px;
}

.floor {
    width:100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.floor img {
    margin:10px;
}

.painting {
width: 100%;
}

.painting img{
    margin:10px;
}

.textEdges {
    margin-top: 70px;
    border: 2px solid black;
    height: 15vh;
    padding: 15px;
    text-align: center;
}

